---
http_interactions:
- request:
    method: post
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: '{"location":{"timezone":"America/New_York","country":"US"},"uid":"2011"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?created_at=2022-10-19T17%3A12%3A25Z&id=63502ff996f59c0001b703f2&location%5Bcountry_code%5D=&location%5Btimezone%5D=America%2FNew_York&marketplace_token=8ce8d7f786e78ff5b1be2f92e3be4bb5a3cdee5dbfe6d9722ba24f92d89e974d&mobile%5Btoken%5D=659d5e23f461cb8c034dda3963c4586e&organization%5Bid%5D=VALIDIC_ORG_ID&status=active&uid=2011&updated_at=2022-10-19T17%3A12%3A25Z
      Etag:
      - W/"1ac13ff386c6383254f18ad57e247a5b"
    body:
      encoding: UTF-8
      string: '{"id":"63502ff996f59c0001b703f2","uid":"2011","marketplace":{"token":"8ce8d7f786e78ff5b1be2f92e3be4bb5a3cdee5dbfe6d9722ba24f92d89e974d","url":"https://syncmydevice.com?token=8ce8d7f786e78ff5b1be2f92e3be4bb5a3cdee5dbfe6d9722ba24f92d89e974d"},"mobile":{"token":"659d5e23f461cb8c034dda3963c4586e"},"location":{"timezone":"America/New_York","country_code":null},"sources":[],"status":"active","created_at":"2022-10-19T17:12:25Z","updated_at":"2022-10-19T17:12:25Z"}'
  recorded_at: Wed, 19 Oct 2022 17:12:25 GMT
- request:
    method: delete
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users/2011?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1050963bedfaf53a45bc56c3399f8b83"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"63502ff996f59c0001b703f2","uid":"2011","marketplace":{"token":"8ce8d7f786e78ff5b1be2f92e3be4bb5a3cdee5dbfe6d9722ba24f92d89e974d","url":"https://syncmydevice.com?token=8ce8d7f786e78ff5b1be2f92e3be4bb5a3cdee5dbfe6d9722ba24f92d89e974d"},"mobile":{"token":"659d5e23f461cb8c034dda3963c4586e"},"location":{"timezone":"America/New_York","country_code":null},"sources":[],"status":"deleted","created_at":"2022-10-19T17:12:25Z","updated_at":"2022-10-19T17:12:25Z","deleted_at":"2022-10-19T17:12:26Z"}'
  recorded_at: Wed, 19 Oct 2022 17:12:26 GMT
recorded_with: VCR 6.1.0
