---
http_interactions:
- request:
    method: post
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: '{"uid":"2011","location":{"timezone":"America/New_York","country":"US"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?created_at=2022-10-18T16%3A41%3A14Z&id=634ed72ae12a2a00016a431d&location%5Bcountry_code%5D=&location%5Btimezone%5D=America%2FNew_York&marketplace_token=a953f1e3ab7c65a31a9e782528d9ece6e0850f95b66a090c87cdca924b65f321&mobile%5Btoken%5D=5933dc4466e514a88dd6dddd7bbce0f6&organization%5Bid%5D=VALIDIC_ORG_ID&status=active&uid=2011&updated_at=2022-10-18T16%3A41%3A14Z
      Etag:
      - W/"68b0999d75187d983722b21968bfeba4"
    body:
      encoding: UTF-8
      string: '{"id":"634ed72ae12a2a00016a431d","uid":"2011","marketplace":{"token":"a953f1e3ab7c65a31a9e782528d9ece6e0850f95b66a090c87cdca924b65f321","url":"https://syncmydevice.com?token=a953f1e3ab7c65a31a9e782528d9ece6e0850f95b66a090c87cdca924b65f321"},"mobile":{"token":"5933dc4466e514a88dd6dddd7bbce0f6"},"location":{"timezone":"America/New_York","country_code":null},"sources":[],"status":"active","created_at":"2022-10-18T16:41:14Z","updated_at":"2022-10-18T16:41:14Z"}'
  recorded_at: Tue, 18 Oct 2022 16:41:14 GMT
- request:
    method: delete
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users/2011?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f6c3d02a27248daf62cc16066608e327"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"634ed72ae12a2a00016a431d","uid":"2011","marketplace":{"token":"a953f1e3ab7c65a31a9e782528d9ece6e0850f95b66a090c87cdca924b65f321","url":"https://syncmydevice.com?token=a953f1e3ab7c65a31a9e782528d9ece6e0850f95b66a090c87cdca924b65f321"},"mobile":{"token":"5933dc4466e514a88dd6dddd7bbce0f6"},"location":{"timezone":"America/New_York","country_code":null},"sources":[],"status":"deleted","created_at":"2022-10-18T16:41:14Z","updated_at":"2022-10-18T16:41:14Z","deleted_at":"2022-10-18T16:41:14Z"}'
  recorded_at: Tue, 18 Oct 2022 16:41:14 GMT
recorded_with: VCR 6.1.0
