---
http_interactions:
- request:
    method: post
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: '{"uid":"2011","location":{"timezone":"America/New_York","country":"US"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":{"uid":["already exists"]}}'
  recorded_at: Wed, 03 Aug 2022 05:33:54 GMT
- request:
    method: delete
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users/2011?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d80de6a3ed3d33c2f05963cf509014c6"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"62ea077cb29fd90001d3e2fe","uid":"2011","marketplace":{"token":"958e0d1faa5d07c1e0380e3b61e0b2cfae174b7592eecc484f746620b27e696a","url":"https://syncmydevice.com?token=958e0d1faa5d07c1e0380e3b61e0b2cfae174b7592eecc484f746620b27e696a"},"mobile":{"token":"e6281e18285a5dc88a6f92fc73f4330a"},"location":{"timezone":"America/New_York","country_code":null},"sources":[],"status":"deleted","created_at":"2022-08-03T05:28:28Z","updated_at":"2022-08-03T05:28:28Z","deleted_at":"2022-08-03T05:33:55Z"}'
  recorded_at: Wed, 03 Aug 2022 05:33:55 GMT
recorded_with: VCR 6.1.0
