---
http_interactions:
- request:
    method: post
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: '{"location":{"timezone":"America/New_York","country":"US"},"uid":"3015"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?created_at=2022-10-18T17%3A36%3A45Z&id=634ee42d449a24000176574f&location%5Bcountry_code%5D=&location%5Btimezone%5D=America%2FNew_York&marketplace_token=a2a4268edf9e977c5bcb2a9dbc02da41cb4696fb57ea0884e3807a2127043498&mobile%5Btoken%5D=fd3cea9f20e4abdf02fec3e6d4a4f583&organization%5Bid%5D=VALIDIC_ORG_ID&status=active&uid=3015&updated_at=2022-10-18T17%3A36%3A45Z
      Etag:
      - W/"ad9b709ef406b041f6d004c354b3118d"
    body:
      encoding: UTF-8
      string: '{"id":"634ee42d449a24000176574f","uid":"3015","marketplace":{"token":"a2a4268edf9e977c5bcb2a9dbc02da41cb4696fb57ea0884e3807a2127043498","url":"https://syncmydevice.com?token=a2a4268edf9e977c5bcb2a9dbc02da41cb4696fb57ea0884e3807a2127043498"},"mobile":{"token":"fd3cea9f20e4abdf02fec3e6d4a4f583"},"location":{"timezone":"America/New_York","country_code":null},"sources":[],"status":"active","created_at":"2022-10-18T17:36:45Z","updated_at":"2022-10-18T17:36:45Z"}'
  recorded_at: Tue, 18 Oct 2022 17:36:44 GMT
- request:
    method: delete
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users/3015?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"78ee2888551c50530eab9ddb37697c3e"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"634ee42d449a24000176574f","uid":"3015","marketplace":{"token":"a2a4268edf9e977c5bcb2a9dbc02da41cb4696fb57ea0884e3807a2127043498","url":"https://syncmydevice.com?token=a2a4268edf9e977c5bcb2a9dbc02da41cb4696fb57ea0884e3807a2127043498"},"mobile":{"token":"fd3cea9f20e4abdf02fec3e6d4a4f583"},"location":{"timezone":"America/New_York","country_code":null},"sources":[],"status":"deleted","created_at":"2022-10-18T17:36:45Z","updated_at":"2022-10-18T17:36:45Z","deleted_at":"2022-10-18T17:36:45Z"}'
  recorded_at: Tue, 18 Oct 2022 17:36:45 GMT
recorded_with: VCR 6.1.0
