---
http_interactions:
- request:
    method: post
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: '{"location":{"timezone":"America/New_York","country":"US"},"uid":"3015"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?created_at=2022-10-19T17%3A12%3A25Z&id=63502ff9f8828100013077ff&location%5Bcountry_code%5D=&location%5Btimezone%5D=America%2FNew_York&marketplace_token=eb50bf51a2553d654b1a655f759e014403e305d8eea8f2d5bc41b0869b2517b2&mobile%5Btoken%5D=01dc79313fd29324d51a45d15efaa07a&organization%5Bid%5D=VALIDIC_ORG_ID&status=active&uid=3015&updated_at=2022-10-19T17%3A12%3A25Z
      Etag:
      - W/"b825041de9ebadca9eec359ad8c6b244"
    body:
      encoding: UTF-8
      string: '{"id":"63502ff9f8828100013077ff","uid":"3015","marketplace":{"token":"eb50bf51a2553d654b1a655f759e014403e305d8eea8f2d5bc41b0869b2517b2","url":"https://syncmydevice.com?token=eb50bf51a2553d654b1a655f759e014403e305d8eea8f2d5bc41b0869b2517b2"},"mobile":{"token":"01dc79313fd29324d51a45d15efaa07a"},"location":{"timezone":"America/New_York","country_code":null},"sources":[],"status":"active","created_at":"2022-10-19T17:12:25Z","updated_at":"2022-10-19T17:12:25Z"}'
  recorded_at: Wed, 19 Oct 2022 17:12:24 GMT
- request:
    method: delete
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users/3015?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f90efc4ab6be2bffcc40d93886abdce9"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"63502ff9f8828100013077ff","uid":"3015","marketplace":{"token":"eb50bf51a2553d654b1a655f759e014403e305d8eea8f2d5bc41b0869b2517b2","url":"https://syncmydevice.com?token=eb50bf51a2553d654b1a655f759e014403e305d8eea8f2d5bc41b0869b2517b2"},"mobile":{"token":"01dc79313fd29324d51a45d15efaa07a"},"location":{"timezone":"America/New_York","country_code":null},"sources":[],"status":"deleted","created_at":"2022-10-19T17:12:25Z","updated_at":"2022-10-19T17:12:25Z","deleted_at":"2022-10-19T17:12:25Z"}'
  recorded_at: Wed, 19 Oct 2022 17:12:25 GMT
recorded_with: VCR 6.1.0
