---
http_interactions:
- request:
    method: post
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: '{"uid":"3013","location":{"timezone":"America/New_York","country":"US"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?created_at=2022-08-03T05%3A34%3A35Z&id=62ea08eb67e8ea00011244ba&location%5Bcountry_code%5D=&location%5Btimezone%5D=America%2FNew_York&marketplace_token=fc73dd9c69d8198cbb7a03dba3a5d84913b9243c38397b2320221119515c3096&mobile%5Btoken%5D=e149e1669db673be27ce94526ae0e388&organization%5Bid%5D=VALIDIC_ORG_ID&status=active&uid=3013&updated_at=2022-08-03T05%3A34%3A35Z
      Etag:
      - W/"0edc83680c36ee5aa3252bb7afa90065"
    body:
      encoding: UTF-8
      string: '{"id":"62ea08eb67e8ea00011244ba","uid":"3013","marketplace":{"token":"fc73dd9c69d8198cbb7a03dba3a5d84913b9243c38397b2320221119515c3096","url":"https://syncmydevice.com?token=fc73dd9c69d8198cbb7a03dba3a5d84913b9243c38397b2320221119515c3096"},"mobile":{"token":"e149e1669db673be27ce94526ae0e388"},"location":{"timezone":"America/New_York","country_code":null},"sources":[],"status":"active","created_at":"2022-08-03T05:34:35Z","updated_at":"2022-08-03T05:34:35Z"}'
  recorded_at: Wed, 03 Aug 2022 05:34:35 GMT
recorded_with: VCR 6.1.0
