---
http_interactions:
- request:
    method: post
    uri: https://streams.v2.validic.com/streams?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: '{"name":"test_read_stream"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"62eff8a0025b7c00019eb379","group":"stream_62eff8a0025b7c00019eb379","name":"test_read_stream","start_date":null,"resource_filter":null,"event_type_filter":null,"members":0,"created_at":"2022-08-07T17:38:40Z","updated_at":"2022-08-07T17:38:40Z"}'
  recorded_at: Sun, 07 Aug 2022 17:38:40 GMT
- request:
    method: get
    uri: https://streams.v2.validic.com/streams/62eff8a0025b7c00019eb379?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"62eff8a0025b7c00019eb379","group":"stream_62eff8a0025b7c00019eb379","name":"test_read_stream","start_date":null,"resource_filter":[],"event_type_filter":[],"members":0,"created_at":"2022-08-07T17:38:40Z","updated_at":"2022-08-07T17:38:40Z"}'
  recorded_at: Sun, 07 Aug 2022 17:38:40 GMT
recorded_with: VCR 6.1.0
