---
http_interactions:
- request:
    method: get
    uri: https://streams.v2.validic.com/streams?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"total":4,"sort":["-created_at"]},"streams":[{"id":"62eff8a1025b7c00019eb37a","group":"stream_62eff8a1025b7c00019eb37a","name":"delete_stream","start_date":null,"resource_filter":[],"event_type_filter":[],"members":0,"created_at":"2022-08-07T17:38:41Z","updated_at":"2022-08-07T17:38:41Z"},{"id":"62eff8a0025b7c00019eb379","group":"stream_62eff8a0025b7c00019eb379","name":"test_read_stream","start_date":null,"resource_filter":[],"event_type_filter":[],"members":0,"created_at":"2022-08-07T17:38:40Z","updated_at":"2022-08-07T17:38:40Z"},{"id":"62eff7b169120e0001301ec9","group":"stream_62eff7b169120e0001301ec9","name":"test_stream","start_date":null,"resource_filter":[],"event_type_filter":[],"members":0,"created_at":"2022-08-07T17:34:41Z","updated_at":"2022-08-07T17:34:41Z"},{"id":"62ea9d7bcfdf920001b58389","group":"stream_62ea9d7bcfdf920001b58389","name":"rpm_dev","start_date":null,"resource_filter":[],"event_type_filter":[],"members":0,"created_at":"2022-08-03T16:08:27Z","updated_at":"2022-08-03T16:08:27Z"}]}'
  recorded_at: Sun, 07 Aug 2022 18:02:41 GMT
recorded_with: VCR 6.1.0
