---
http_interactions:
- request:
    method: post
    uri: https://streams.v2.validic.com/streams?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: '{"name":"test_stream"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"63503a89025b7c0001dfca8c","group":"stream_63503a89025b7c0001dfca8c","name":"test_stream","start_date":null,"resource_filter":null,"event_type_filter":null,"members":0,"created_at":"2022-10-19T17:57:29Z","updated_at":"2022-10-19T17:57:29Z"}'
  recorded_at: Wed, 19 Oct 2022 17:57:28 GMT
- request:
    method: get
    uri: https://streams.v2.validic.com/streams?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"total":3,"sort":["-created_at"]},"streams":[{"id":"63503a89025b7c0001dfca8c","group":"stream_63503a89025b7c0001dfca8c","name":"test_stream","start_date":null,"resource_filter":[],"event_type_filter":[],"members":0,"created_at":"2022-10-19T17:57:29Z","updated_at":"2022-10-19T17:57:29Z"},{"id":"6345a53c0c75600001bc2be5","group":"stream_6345a53c0c75600001bc2be5","name":"mdlive_rpm_staging","start_date":null,"resource_filter":["measurement"],"event_type_filter":[],"members":0,"created_at":"2022-10-11T17:17:48Z","updated_at":"2022-10-11T17:17:48Z"},{"id":"62f526d22f1da60001aeb8a9","group":"stream_62f526d22f1da60001aeb8a9","name":"mdlive_rpm_development","start_date":null,"resource_filter":["measurement"],"event_type_filter":[],"members":0,"created_at":"2022-08-11T15:57:06Z","updated_at":"2022-08-11T15:57:06Z"}]}'
  recorded_at: Wed, 19 Oct 2022 17:57:29 GMT
recorded_with: VCR 6.1.0
