---
http_interactions:
- request:
    method: post
    uri: https://streams.v2.validic.com/streams?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: '{"name":"test_stream"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"62eff7b169120e0001301ec9","group":"stream_62eff7b169120e0001301ec9","name":"test_stream","start_date":null,"resource_filter":null,"event_type_filter":null,"members":0,"created_at":"2022-08-07T17:34:41Z","updated_at":"2022-08-07T17:34:41Z"}'
  recorded_at: Sun, 07 Aug 2022 17:34:41 GMT
recorded_with: VCR 6.1.0
