---
http_interactions:
- request:
    method: post
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: '{"location":{"timezone":"America/New_York","country":"US"},"uid":"2012"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":{"uid":["already exists"]}}'
  recorded_at: Tue, 18 Oct 2022 17:18:23 GMT
- request:
    method: get
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users/2012?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?created_at=2022-08-03T05%3A41%3A53Z&id=62ea0aa14b69e00001f8e5f6&location%5Bcountry_code%5D=&location%5Btimezone%5D=America%2FNew_York&marketplace_token=c873d7e3c647e8f397c9f025f4658390874d343b37566ab07748f9f954850088&mobile%5Btoken%5D=9a216073e2b4a5c7d6f11a01fd89dfe0&organization%5Bid%5D=VALIDIC_ORG_ID&status=active&uid=2012&updated_at=2022-08-03T05%3A41%3A53Z
      Etag:
      - W/"eb29a19aa220654033278824df7e30f2"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"62ea0aa14b69e00001f8e5f6","uid":"2012","marketplace":{"token":"c873d7e3c647e8f397c9f025f4658390874d343b37566ab07748f9f954850088","url":"https://syncmydevice.com?token=c873d7e3c647e8f397c9f025f4658390874d343b37566ab07748f9f954850088"},"mobile":{"token":"9a216073e2b4a5c7d6f11a01fd89dfe0"},"location":{"timezone":"America/New_York","country_code":null},"sources":[],"status":"active","created_at":"2022-08-03T05:41:53Z","updated_at":"2022-08-03T05:41:53Z"}'
  recorded_at: Tue, 18 Oct 2022 17:35:53 GMT
- request:
    method: post
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users/2012/marketplace?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?created_at=2022-08-03T05%3A41%3A53Z&id=62ea0aa14b69e00001f8e5f6&location%5Bcountry_code%5D=&location%5Btimezone%5D=America%2FNew_York&marketplace_token=a41ec70ff39d3e331ee867b93db660a90c687a47cf887c9527ccd03b7ac90afb&mobile%5Btoken%5D=9a216073e2b4a5c7d6f11a01fd89dfe0&organization%5Bid%5D=VALIDIC_ORG_ID&status=active&uid=2012&updated_at=2022-10-18T17%3A35%3A53Z
      Etag:
      - W/"626b2ce1ec518c0022fc5043bedf9a0a"
    body:
      encoding: ASCII-8BIT
      string: '{"marketplace":{"token":"a41ec70ff39d3e331ee867b93db660a90c687a47cf887c9527ccd03b7ac90afb","url":"https://syncmydevice.com?token=a41ec70ff39d3e331ee867b93db660a90c687a47cf887c9527ccd03b7ac90afb"}}'
  recorded_at: Tue, 18 Oct 2022 17:35:53 GMT
recorded_with: VCR 6.1.0
