---
http_interactions:
- request:
    method: post
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: '{"location":{"timezone":"America/New_York","country":"US"},"uid":"2012"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?created_at=2022-10-19T17%3A12%3A28Z&id=63502ffc69b0a700015f1cfe&location%5Bcountry_code%5D=&location%5Btimezone%5D=America%2FNew_York&marketplace_token=5a238ad00cf65cc20306726b811936ed90ac95b7a72a5a8e9439971713ad8fcb&mobile%5Btoken%5D=deff97f32c00503331803659b4f5c302&organization%5Bid%5D=VALIDIC_ORG_ID&status=active&uid=2012&updated_at=2022-10-19T17%3A12%3A28Z
      Etag:
      - W/"fe4a919ccc1994d3832d9fdbb2cf57a2"
    body:
      encoding: UTF-8
      string: '{"id":"63502ffc69b0a700015f1cfe","uid":"2012","marketplace":{"token":"5a238ad00cf65cc20306726b811936ed90ac95b7a72a5a8e9439971713ad8fcb","url":"https://syncmydevice.com?token=5a238ad00cf65cc20306726b811936ed90ac95b7a72a5a8e9439971713ad8fcb"},"mobile":{"token":"deff97f32c00503331803659b4f5c302"},"location":{"timezone":"America/New_York","country_code":null},"sources":[],"status":"active","created_at":"2022-10-19T17:12:28Z","updated_at":"2022-10-19T17:12:28Z"}'
  recorded_at: Wed, 19 Oct 2022 17:12:28 GMT
- request:
    method: get
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users/2012?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?created_at=2022-10-19T17%3A12%3A28Z&id=63502ffc69b0a700015f1cfe&location%5Bcountry_code%5D=&location%5Btimezone%5D=America%2FNew_York&marketplace_token=5a238ad00cf65cc20306726b811936ed90ac95b7a72a5a8e9439971713ad8fcb&mobile%5Btoken%5D=deff97f32c00503331803659b4f5c302&organization%5Bid%5D=VALIDIC_ORG_ID&status=active&uid=2012&updated_at=2022-10-19T17%3A12%3A28Z
      Etag:
      - W/"fe4a919ccc1994d3832d9fdbb2cf57a2"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"63502ffc69b0a700015f1cfe","uid":"2012","marketplace":{"token":"5a238ad00cf65cc20306726b811936ed90ac95b7a72a5a8e9439971713ad8fcb","url":"https://syncmydevice.com?token=5a238ad00cf65cc20306726b811936ed90ac95b7a72a5a8e9439971713ad8fcb"},"mobile":{"token":"deff97f32c00503331803659b4f5c302"},"location":{"timezone":"America/New_York","country_code":null},"sources":[],"status":"active","created_at":"2022-10-19T17:12:28Z","updated_at":"2022-10-19T17:12:28Z"}'
  recorded_at: Wed, 19 Oct 2022 17:12:28 GMT
- request:
    method: post
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users/2012/marketplace?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?created_at=2022-10-19T17%3A12%3A28Z&id=63502ffc69b0a700015f1cfe&location%5Bcountry_code%5D=&location%5Btimezone%5D=America%2FNew_York&marketplace_token=2c6d0d6e04e21dc5af9f30a360e64d2bbabb894ecff530bf43aa179101646fc0&mobile%5Btoken%5D=deff97f32c00503331803659b4f5c302&organization%5Bid%5D=VALIDIC_ORG_ID&status=active&uid=2012&updated_at=2022-10-19T17%3A12%3A29Z
      Etag:
      - W/"09f25f21fa2db39eb1d8cc1f55b88938"
    body:
      encoding: ASCII-8BIT
      string: '{"marketplace":{"token":"2c6d0d6e04e21dc5af9f30a360e64d2bbabb894ecff530bf43aa179101646fc0","url":"https://syncmydevice.com?token=2c6d0d6e04e21dc5af9f30a360e64d2bbabb894ecff530bf43aa179101646fc0"}}'
  recorded_at: Wed, 19 Oct 2022 17:12:29 GMT
- request:
    method: delete
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users/2012?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c3199b51c7097b1e150961d1283a1aef"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"63502ffc69b0a700015f1cfe","uid":"2012","marketplace":{"token":"2c6d0d6e04e21dc5af9f30a360e64d2bbabb894ecff530bf43aa179101646fc0","url":"https://syncmydevice.com?token=2c6d0d6e04e21dc5af9f30a360e64d2bbabb894ecff530bf43aa179101646fc0"},"mobile":{"token":"deff97f32c00503331803659b4f5c302"},"location":{"timezone":"America/New_York","country_code":null},"sources":[],"status":"deleted","created_at":"2022-10-19T17:12:28Z","updated_at":"2022-10-19T17:12:29Z","deleted_at":"2022-10-19T17:12:29Z"}'
  recorded_at: Wed, 19 Oct 2022 17:12:29 GMT
recorded_with: VCR 6.1.0
