---
http_interactions:
- request:
    method: post
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: '{"uid":"2012","location":{"timezone":"America/New_York","country":"US"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?created_at=2022-08-03T05%3A41%3A53Z&id=62ea0aa14b69e00001f8e5f6&location%5Bcountry_code%5D=&location%5Btimezone%5D=America%2FNew_York&marketplace_token=a6c4c95236efcf19c52123877e5d94b7e1aa306911b59f61eadefe6e9296e851&mobile%5Btoken%5D=9a216073e2b4a5c7d6f11a01fd89dfe0&organization%5Bid%5D=VALIDIC_ORG_ID&status=active&uid=2012&updated_at=2022-08-03T05%3A41%3A53Z
      Etag:
      - W/"0bdbd85a79e81dc5eb4a801a3ad214a0"
    body:
      encoding: UTF-8
      string: '{"id":"62ea0aa14b69e00001f8e5f6","uid":"2012","marketplace":{"token":"a6c4c95236efcf19c52123877e5d94b7e1aa306911b59f61eadefe6e9296e851","url":"https://syncmydevice.com?token=a6c4c95236efcf19c52123877e5d94b7e1aa306911b59f61eadefe6e9296e851"},"mobile":{"token":"9a216073e2b4a5c7d6f11a01fd89dfe0"},"location":{"timezone":"America/New_York","country_code":null},"sources":[],"status":"active","created_at":"2022-08-03T05:41:53Z","updated_at":"2022-08-03T05:41:53Z"}'
  recorded_at: Wed, 03 Aug 2022 05:41:53 GMT
- request:
    method: post
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users/2012/marketplace?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?created_at=2022-08-03T05%3A41%3A53Z&id=62ea0aa14b69e00001f8e5f6&location%5Bcountry_code%5D=&location%5Btimezone%5D=America%2FNew_York&marketplace_token=c873d7e3c647e8f397c9f025f4658390874d343b37566ab07748f9f954850088&mobile%5Btoken%5D=9a216073e2b4a5c7d6f11a01fd89dfe0&organization%5Bid%5D=VALIDIC_ORG_ID&status=active&uid=2012&updated_at=2022-08-03T05%3A41%3A53Z
      Etag:
      - W/"5c866005743e5acaf73ceda7dc943629"
    body:
      encoding: ASCII-8BIT
      string: '{"marketplace":{"token":"c873d7e3c647e8f397c9f025f4658390874d343b37566ab07748f9f954850088","url":"https://syncmydevice.com?token=c873d7e3c647e8f397c9f025f4658390874d343b37566ab07748f9f954850088"}}'
  recorded_at: Wed, 03 Aug 2022 05:41:53 GMT
recorded_with: VCR 6.1.0
