---
http_interactions:
- request:
    method: post
    uri: https://streams.v2.validic.com/streams?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: '{"name":"test_stream"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"63503a880c75600001bc3a14","group":"stream_63503a880c75600001bc3a14","name":"test_stream","start_date":null,"resource_filter":null,"event_type_filter":null,"members":0,"created_at":"2022-10-19T17:57:28Z","updated_at":"2022-10-19T17:57:28Z"}'
  recorded_at: Wed, 19 Oct 2022 17:57:28 GMT
- request:
    method: delete
    uri: https://streams.v2.validic.com/streams/63503a880c75600001bc3a14?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"63503a880c75600001bc3a14","group":"stream_63503a880c75600001bc3a14","name":"test_stream","start_date":null,"resource_filter":[],"event_type_filter":[],"members":0,"created_at":"2022-10-19T17:57:28Z","updated_at":"2022-10-19T17:57:28Z","deleted_at":"2022-10-19T17:57:28Z"}'
  recorded_at: Wed, 19 Oct 2022 17:57:28 GMT
recorded_with: VCR 6.1.0
