---
http_interactions:
- request:
    method: post
    uri: https://streams.v2.validic.com/streams?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: '{"name":"delete_stream_2"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"62eff9250c75600001a970bc","group":"stream_62eff9250c75600001a970bc","name":"delete_stream_2","start_date":null,"resource_filter":null,"event_type_filter":null,"members":0,"created_at":"2022-08-07T17:40:53Z","updated_at":"2022-08-07T17:40:53Z"}'
  recorded_at: Sun, 07 Aug 2022 17:40:53 GMT
- request:
    method: delete
    uri: https://streams.v2.validic.com/streams/62eff9250c75600001a970bc?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"62eff9250c75600001a970bc","group":"stream_62eff9250c75600001a970bc","name":"delete_stream_2","start_date":null,"resource_filter":[],"event_type_filter":[],"members":0,"created_at":"2022-08-07T17:40:53Z","updated_at":"2022-08-07T17:40:53Z","deleted_at":"2022-08-07T17:40:53Z"}'
  recorded_at: Sun, 07 Aug 2022 17:40:53 GMT
recorded_with: VCR 6.1.0
