---
http_interactions:
- request:
    method: post
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: '{"location":{"timezone":"America/New_York","country":"US"},"uid":"3013"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?created_at=2022-10-19T17%3A12%3A26Z&id=63502ffae3ce230001fd094b&location%5Bcountry_code%5D=&location%5Btimezone%5D=America%2FNew_York&marketplace_token=7e29f0ec921daedb944cdd23727216cbe2a38776432eb3d20d77699a4c4caa45&mobile%5Btoken%5D=5c2cab083528bf6920db2cccc10d5e62&organization%5Bid%5D=VALIDIC_ORG_ID&status=active&uid=3013&updated_at=2022-10-19T17%3A12%3A26Z
      Etag:
      - W/"fec52e128051d3f7d16281cb43ee6b94"
    body:
      encoding: UTF-8
      string: '{"id":"63502ffae3ce230001fd094b","uid":"3013","marketplace":{"token":"7e29f0ec921daedb944cdd23727216cbe2a38776432eb3d20d77699a4c4caa45","url":"https://syncmydevice.com?token=7e29f0ec921daedb944cdd23727216cbe2a38776432eb3d20d77699a4c4caa45"},"mobile":{"token":"5c2cab083528bf6920db2cccc10d5e62"},"location":{"timezone":"America/New_York","country_code":null},"sources":[],"status":"active","created_at":"2022-10-19T17:12:26Z","updated_at":"2022-10-19T17:12:26Z"}'
  recorded_at: Wed, 19 Oct 2022 17:12:26 GMT
- request:
    method: get
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users/3013?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users?created_at=2022-10-19T17%3A12%3A26Z&id=63502ffae3ce230001fd094b&location%5Bcountry_code%5D=&location%5Btimezone%5D=America%2FNew_York&marketplace_token=7e29f0ec921daedb944cdd23727216cbe2a38776432eb3d20d77699a4c4caa45&mobile%5Btoken%5D=5c2cab083528bf6920db2cccc10d5e62&organization%5Bid%5D=VALIDIC_ORG_ID&status=active&uid=3013&updated_at=2022-10-19T17%3A12%3A26Z
      Etag:
      - W/"fec52e128051d3f7d16281cb43ee6b94"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"63502ffae3ce230001fd094b","uid":"3013","marketplace":{"token":"7e29f0ec921daedb944cdd23727216cbe2a38776432eb3d20d77699a4c4caa45","url":"https://syncmydevice.com?token=7e29f0ec921daedb944cdd23727216cbe2a38776432eb3d20d77699a4c4caa45"},"mobile":{"token":"5c2cab083528bf6920db2cccc10d5e62"},"location":{"timezone":"America/New_York","country_code":null},"sources":[],"status":"active","created_at":"2022-10-19T17:12:26Z","updated_at":"2022-10-19T17:12:26Z"}'
  recorded_at: Wed, 19 Oct 2022 17:12:27 GMT
- request:
    method: delete
    uri: https://api.v2.validic.com/organizations/VALIDIC_ORG_ID/users/3013?token=VALIDIC_TOKEN
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1db9f4c57c06c58f28dc7d6e91d26a1f"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"63502ffae3ce230001fd094b","uid":"3013","marketplace":{"token":"7e29f0ec921daedb944cdd23727216cbe2a38776432eb3d20d77699a4c4caa45","url":"https://syncmydevice.com?token=7e29f0ec921daedb944cdd23727216cbe2a38776432eb3d20d77699a4c4caa45"},"mobile":{"token":"5c2cab083528bf6920db2cccc10d5e62"},"location":{"timezone":"America/New_York","country_code":null},"sources":[],"status":"deleted","created_at":"2022-10-19T17:12:26Z","updated_at":"2022-10-19T17:12:26Z","deleted_at":"2022-10-19T17:12:27Z"}'
  recorded_at: Wed, 19 Oct 2022 17:12:27 GMT
recorded_with: VCR 6.1.0
